/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    /* hyphens: auto; */
  }
  #root, #__next {
    isolation: isolate;
  }

  /*//////////////////////////////////////////////
  //////////////////////////////////////////////*/

body {
    background-color: hsl(30, 38%, 92%);
    font-family: "Montserrat", "Fraunces", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.mainBox {
    max-width: 37.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    border-radius: 1.25rem;
}

.photos {
    overflow: hidden;
    border-radius: 1.25rem 0 0 1.25rem;
}

.mobile {
    display: none;
}

.prices {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-family: 'Fraunces', serif;
    padding-bottom: 1rem;
}

.text {
    padding: 2rem 2rem 0 2rem;
}

.title {
    font-weight: 600;
    font-size: 0.75rem;
    letter-spacing: 0.3125rem;
    text-transform: uppercase;
    color: var(--gray);
    padding-bottom: 1rem;
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    color: black;
    padding-bottom: 1.25rem;
  }

p {
    font-family: 'Montserrat', serif;
    font-weight: 500;
    font-size: .9rem;
    line-height: 1.5rem;
    padding-bottom: 1.25rem;
    color: gray;
}

h2 {
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-size: 2rem;
}

del {
    color: gray;
    font-family: 'Montserrat';
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    gap: .5rem;
    width: 100%;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1rem;
    background-color: hsl(158, 36%, 37%);
    border-radius: .5rem;
    color: white
}

button:hover {
  cursor: pointer;
  background-color: hsl(228, 12%, 48%);
}

button:active {
  transform: translateY(4px);
  box-shadow: 0 2px (228, 12%, 48%);
}

button img {
    height: 50%;
}

@media (max-width: 600px) {
    .mainBox {
        max-width: 25rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .text {
      padding-top: .5rem;
      padding-bottom: 1rem;
    }

    p {
      padding-bottom: 1rem;
    }

    .prices {
      padding-bottom: .5rem;
    }

    .mobile {
        display: inline-block;
        border-radius: 1.25rem 1.25rem 0 0;
    }

    .desktop {
        display: none;
    }
}